# Rust build system
target
artifacts
schema
tasks
# IDE: IntelliJ IDEA
.idea/
*.iml

.cargo-ok

# Text file backups
**/*.rs.bk

# macOS
.DS_Store

# IDEs
*.iml
.idea

# Local testing
bombay-instantiate.sh
bombay-migrate.sh

.editorconfig
.gitpod.Dockerfile
.gitpod.yml
Developing.md
Importing.md
LICENSE
NOTICE
Publishing.md
rustfmt.toml

.circleci/config.yml
.github/workflows/Basic.yml
.cargo/config